@{
    var tempval = TempData["Errores"];
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            Vista parcial
        </div>
    </div>

    <div>
        @tempval
    </div>
</div>
